<template>
    <div>

    <div class="vx-row mb-2 mt-16">
            <div class="vx-col w-full md:w-1/2 lg:w-1/2  ml-auto sm:justify-end">
                <div class="vx-row mt-4">
                    <div class="vx-col w-1/2">
                        <div class=""><b>Sub Total</b></div>
                    </div>
                    <div class="vx-col w-1/2">
                        <div class="float-left mr-2"><b>{{currency}}&nbsp; &nbsp; {{subTotal}}</b></div>
                    </div>
                </div>
    
                <div class="vx-row mt-4">
                    <div class="vx-col w-1/2">
                        <div class=""><b>Tax ({{taxPercent === "" ? 0 : taxPercent}}%{{taxIncl ? ' incl' : ''}})</b></div>
                    </div>
                    <div class="vx-col w-1/2">
                        <div class="float-left mr-2"><b>{{currency}}&nbsp; &nbsp; {{tax}}</b></div>
                    </div>
                </div>
    
                <div v-if="discount !== null" class="vx-row mt-4">
                    <div v-if="discount === 'percent'" class="vx-col w-1/2">
                        <div class=""><b>Discount ({{discountPercentage}}%)</b></div>
                    </div>
                    <div v-if="discount === 'amount'" class="vx-col w-1/2">
                        <div class=""><b>Discount</b></div>
                    </div>
                    <div class="vx-col w-1/2">
                        <div class="float-left mr-2"><b>{{currency}}&nbsp; &nbsp; {{discountAmount}}</b></div>
                    </div>
                </div>
    
                <div class="vx-row mt-4">
                    <div class="vx-col w-1/2">
                        <div class=""><b>Total</b></div>
                    </div>
                    <div class="vx-col w-1/2">
                        <div class="float-left mr-2"><b>{{currency}}&nbsp; &nbsp; {{grandTotal}}</b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data(){
    return {

    }
  },
  computed: {
    currency() {
      return this.$store.state.invoice.invoiceData.currency;
    },
    subTotal() {
      var subTotal = this.$store.getters.getSubTotal;
      this.$store.commit("setSubTotal", subTotal);
      return subTotal;
    },
    taxIncl() {
      return this.$store.state.invoice.invoiceData.taxIncl;
    },
    taxPercent() {
      return this.$store.state.invoice.invoiceData.taxPercent;
    },
    tax (){
      var tax = this.$store.getters.getTax;
      this.$store.commit("setTax", tax);
      return tax;
    },
    discount() {
      return this.$store.state.invoice.invoiceData.discount;
    },
    discountPercentage() {
      return this.$store.state.invoice.invoiceData.discountPercentage;
    },
    discountAmount() {
      var discountAmount = this.$store.getters.getDiscountAmount;
      this.$store.commit("setDiscountedAmount", discountAmount);
      return discountAmount;
    },
    grandTotal(){
      var grandTotal = this.$store.getters.getGrandTotal;
      this.$store.commit("setGrandTotal", grandTotal);
      return grandTotal;
    },
  }
}
</script>