<template>
    <div>
        <div class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 mt-3">
                <span>Tax (%)</span>
            </div>
            <div class="vx-col w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-input type="number" class="w-full" v-validate="'required|numeric'" name="tax" v-model="taxPercent" />
                <span class="text-danger text-sm" v-show="errors.has('tax')">{{ errors.first('tax') }}</span>
            </div>
        </div>
    
        <div class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3">
                <span>Tax inclusive? </span>
            </div>
            <div class="vx-col w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-checkbox v-model="taxIncl"></vs-checkbox>
            </div>
        </div>
    
        <div class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 mt-3">
                <span>Discount </span>
            </div>
            <div class="vx-col con-select-example w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-select class=" w-full selectExample" v-model="discount">
                    <vs-select-item v-for="(item,index) in discountOptions" :key="index" :value="item.value" :text="item.text" />
                </vs-select>
            </div>
        </div>
        <div v-if="discount === 'percent'" class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 mt-3">
                <span>Percent </span>
            </div>
            <div class="vx-col con-select-example w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-input class="w-full selectExample" type="number" v-validate="''" name="discPercent" v-model="discountPercentage" />
            </div>
        </div>
        <div v-if="discount === 'amount'" class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 mt-3">
                <span>Amount </span>
            </div>
            <div class="vx-col con-select-example w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-input class="w-full selectExample" type="number" v-validate="''" name="discAmount" v-model="discountAmount" />
            </div>
        </div>
    
        <div class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3 mt-3">
                <span>Currency </span>
            </div>
            <div class="vx-col con-select-example w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
                <vs-select class="w-full selectExample" v-model="currency" autocomplete>
                    <!-- <vs-select-group v-for="(group,index) in currencies" :key="index" :title="group.label">
                        <vs-select-item v-for="(item,index) in group.options" :key="index" :value="item.label" :text="item.label"></vs-select-item>
                    </vs-select-group> -->
                    <vs-select-item v-for="(item,index) in currencies" :key="index" :value="item.label" :text="item.label"></vs-select-item>
                </vs-select>
            </div>
        </div>
    </div>
</template>

<script>
import currencies from '../../currencies'
import bus from '@/bus'
export default {
    name: "InvoiceSettings",
    data() {
        return {
            currencies: currencies.currencies,
            discountOptions: [
                { text: 'None', value: null },
                { text: 'Percent', value: 'percent' },
                { text: 'Amount', value: 'amount' }
            ],

        }
    },
    computed: {
        taxPercent: {
            get() {
                return this.$store.state.invoice.invoiceData.taxPercent;
            },
            set(value) {
                this.$store.commit('setTaxPercent', value);
            }
        },
        taxIncl: {
            get() {
                return this.$store.state.invoice.invoiceData.taxIncl;
            },
            set(value) {
                this.$store.commit('setTaxIncl', value);
            }
        },
        discount: {
            get() {
                return this.$store.state.invoice.invoiceData.discount;
            },
            set(value) {
                this.$store.commit('setDiscount', value);
            }
        },
        discountPercentage: {
            get(){
                return this.$store.state.invoice.invoiceData.discountPercentage;
            },
            set(value){
                this.$store.commit('setDiscountPercentage', value);
            }
        },
        discountAmount: {
            get(){
                return this.$store.state.invoice.invoiceData.discountedAmount;
            },
            set(value){
                this.$store.commit('setDiscountedAmount', value);
            }
        },
        currency: {
            get(){
                var currencyValue = this.$store.state.invoice.invoiceData.currencyValue;
                return this.$store.state.invoice.invoiceData.currency;
            },
            set(value){
                this.$store.commit('setCurrency', value);
                var currencyObj = this.currencies.find(obj => {
                    return obj.label === value
                });
                //console.log('currency value', currencyObj);
                
                this.$store.commit('setCurrencyValue', currencyObj.value);
            }
        },
        currencyValue: {
            get(){
                return this.$store.state.invoice.invoiceData.currency;
            },
        },
        isValid: function () {
            return this.$vueValidator.valid
        }
    },
    created(){
        bus.$on('validate-all', () => {
            this.$validator.validateAll()
                bus.$emit('child-validated', this.$validator.errors)
            })
        },
}
</script>