<template>
  <div class="">
      <div class="vx-row mb-2 mt-16">
        <!-- Company details -->
        <div class="vx-col w-full md:w-1/2 lg:w-1/2 ">
          <vs-button class="w-full md:w-3/4"  type="border" :color="companyDetsColor" @click="activePrompt = true">{{companyTitle}}</vs-button>
        </div>

        <!-- Company details dialog prompt -->
        <vs-prompt
          @cancel="clearValMultiple('compDets')"
          @accept="acceptAlert('compDets')"
          @close="close('compDets')"
          :active.sync="activePrompt"
          title = "Company Details">
                      
          <div class="con-exemple-prompt"> 
            <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="">
              <tab-content title="Basic Info" class="mb-5">
                  <!-- tab 1 content -->
                  <div class="vx-row">
                      <vs-input label-placeholder="Company Name*" v-model="companyName" v-validate="''" data-vv-scope="compDets" name="name" class="mt-4 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.name')">{{ errors.first('compDets.name') }}</span>

                      <vs-input label-placeholder="email*" v-model="companyEmail" v-validate="'email'" data-vv-scope="compDets" name="email" class="mt-6 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.email')">{{ errors.first('compDets.email') }}</span>

                      <vs-input label-placeholder="Phone Number*" v-model="companyMobile" v-validate="''" data-vv-scope="compDets" name="mobile" class="mt-6 w-full"/>
                      <span class="text-danger text-sm" v-show="errors.has('compDets.mobile')">{{ errors.first('compDets.mobile') }}</span>
                  </div>
              </tab-content>
              <tab-content title="Address Info" class="mb-5">
                  <!-- tab 2 content -->
                  <div class="vx-row">
                      <vs-input label-placeholder="Address Line" v-model="companyAddressLine1" v-validate="''" data-vv-scope="compDets" name="addressLine" class="mt-4 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.addressLine')">{{ errors.first('compDets.addressLine') }}</span>

                      <!-- <vs-input label-placeholder="Address Line 2" v-model="companyAddressLine2" data-vv-scope="compDets" name="addressLine2" class="mt-8 w-full" /> -->

                      <vs-input label-placeholder="Zip Code" v-model="companyZipcode" v-validate="''" data-vv-scope="compDets" name="zipcode" class="mt-6 w-1/3 pr-2" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.zipcode')">{{ errors.first('compDets.zipcode') }}</span>

                      <vs-input label-placeholder="City" v-model="companyCity" v-validate="''" data-vv-scope="compDets" name="city" class="mt-6 w-2/3" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.city')">{{ errors.first('compDets.city') }}</span>

                      <vs-input label-placeholder="State/Country" v-model="companyStateOrCountry" v-validate="''" data-vv-scope="compDets" name="stateOrCountry" class="mt-6 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('compDets.stateOrCountry')">{{ errors.first('compDets.stateOrCountry') }}</span>
                  </div>
              </tab-content>

              <vs-button slot="prev" radius class="btn-drop" type="filled" color="primary" icon-pack="feather" icon="icon-arrow-left"></vs-button>
              <vs-button slot="next" radius class="btn-drop" type="filled" color="primary" icon-pack="feather" icon="icon-arrow-right"></vs-button>

              <template slot="finish" style="visibility: hidden">
                <span style="visibility: hidden"></span>
              </template>
            </form-wizard>

          </div>
        </vs-prompt>

        <!-- Recipient Details -->
        <div class="vx-col w-full md:w-1/2 lg:w-1/2 mt-4 md:mt-0">
          <vs-button class="w-full md:w-3/4" :color="recipientDetsColor" type="border" @click="activePrompt2 = true" >{{recipientTitle}}</vs-button>
        </div>

        <!-- Recipient details dialog prompt -->
        <vs-prompt
          @cancel="clearValMultiple('recpDets')"
          @accept="acceptAlert('recpDets')"
          @close="close('recpDets')"
          :active.sync="activePrompt2"
          title="Recipient Details">

          <div class="con-exemple-prompt">
            <form-wizard color="rgba(var(--vs-primary), 1)" :title="null" :subtitle="null" finishButtonText="">
              <tab-content title="Basic Info" class="mb-5">
                  <!-- tab 1 content -->
                  <div class="vx-row">
                      <vs-input label-placeholder="Recipient's Name*" v-model="recipientFullName" v-validate="''" data-vv-scope="recpDets" name="name" class="mt-4 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.name')">{{ errors.first('recpDets.name') }}</span>

                      <vs-input label-placeholder="email*" v-model="recipientEmail" v-validate="'email'" data-vv-scope="recpDets" name="email" class="mt-6 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.email')">{{ errors.first('recpDets.email') }}</span>

                      <vs-input label-placeholder="Phone Number*" v-model="recipientMobile" v-validate="''" data-vv-scope="recpDets" name="mobile" class="mt-6 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.mobile')">{{ errors.first('recpDets.mobile') }}</span>
                  </div>
              </tab-content>
              <tab-content title="Address Info" class="mb-5">
                  <!-- tab 2 content -->
                  <div class="vx-row">
                      <vs-input label-placeholder="Address Line" v-model="recipientAddressLine1" data-vv-scope="recpDets" v-validate="''" name="addressLine" class="mt-4 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.addressLine')">{{ errors.first('recpDets.addressLine') }}</span>

                      <!-- <vs-input label-placeholder="Address Line 2" v-model="companyAddressLine2" data-vv-scope="compDets" name="addressLine2" class="mt-8 w-full" /> -->

                      <vs-input label-placeholder="Zip Code" v-model="recipientZipcode" v-validate="''" data-vv-scope="recpDets" name="zipcode" class="mt-6 w-1/3 pr-2" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.zipcode')">{{ errors.first('recpDets.zipcode') }}</span>

                      <vs-input label-placeholder="City" v-model="recipientCity" v-validate="''" data-vv-scope="recpDets" name="city" class="mt-6 w-2/3" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.city')">{{ errors.first('recpDets.city') }}</span>

                      <vs-input label-placeholder="State/Country" v-model="recipientStateOrCountry" v-validate="''" data-vv-scope="recpDets" name="stateOrCountry" class="mt-6 w-full" />
                      <span class="text-danger text-sm" v-show="errors.has('recpDets.stateOrCountry')">{{ errors.first('recpDets.stateOrCountry') }}</span>
                  </div>
              </tab-content>

              <vs-button slot="prev" radius class="btn-drop" type="filled" color="primary" icon-pack="feather" icon="icon-arrow-left"></vs-button>
              <vs-button slot="next" radius class="btn-drop" type="filled" color="primary" icon-pack="feather" icon="icon-arrow-right"></vs-button>

              <template slot="finish" style="visibility: hidden">
                <span style="visibility: hidden"></span>
              </template>

            </form-wizard>
          </div>
          
        </vs-prompt>

      </div>
  </div>
</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import bus from '@/bus'
export default {
  name:"InvoiceContacts",
  components: {
    TabContent,
    FormWizard
  },
  data(){
    return {
      companyDetsColor: 'dark',
      recipientDetsColor: 'dark',
      activePrompt:false,
      activePrompt2:false,
    }
  },
  computed: {
    companyTitle(){
      return this.companyName === "" ? "Add Your Company Details*" : this.companyName;
    },
    recipientTitle(){
      return this.recipientFullName === "" ? "Add Recipient's Details*" : this.recipientFullName;
    },
    companyName: {
      get() {
        return this.$store.state.invoice.companyDetails.name;
      },
      set(value) {
        this.$store.commit("setCompanyName", value);
      }
    },
    companyAddressLine1: {
      get() {
        return this.$store.state.invoice.companyDetails.addressLine1;
      },
      set(value) {
        this.$store.commit("setCompanyAddressLine1", value);
      }
    },
    companyAddressLine2: {
      get() {
        return this.$store.state.invoice.companyDetails.addressLine2;
      },
      set(value) {
        this.$store.commit("setCompanyAddressLine2", value);
      }
    },
    companyZipcode: {
      get() {
        return this.$store.state.invoice.companyDetails.zipcode;
      },
      set(value) {
        this.$store.commit("setCompanyZipcode", value);
      }
    },
    companyCity: {
      get() {
        return this.$store.state.invoice.companyDetails.city;
      },
      set(value) {
        this.$store.commit("setCompanyCity", value);
      }
    },
    companyStateOrCountry: {
      get() {
        return this.$store.state.invoice.companyDetails.stateOrCountry;
      },
      set(value) {
        this.$store.commit("setCompanyStateOrCountry", value);
      }
    },
    companyEmail: {
      get() {
        return this.$store.state.invoice.companyDetails.email;
      },
      set(value) {
        this.$store.commit("setCompanyEmail", value);
      }
    },
    companyMobile: {
      get() {
        return this.$store.state.invoice.companyDetails.mobile;
      },
      set(value) {
        this.$store.commit("setCompanyMobile", value);
      }
    },
    recipientFullName: {
      get() {
        return this.$store.state.invoice.recipientDetails.fullName;
      },
      set(value) {
        this.$store.commit("setRecipientFullName", value);
      }
    },
    recipientAddressLine1: {
      get() {
        return this.$store.state.invoice.recipientDetails.addressLine1;
      },
      set(value) {
        this.$store.commit("setRecipientAddressLine1", value);
      }
    },
    recipientAddressLine2: {
      get() {
        return this.$store.state.invoice.recipientDetails.addressLine2;
      },
      set(value) {
        this.$store.commit("setRecipientAddressLine2", value);
      }
    },
    recipientZipcode: {
      get() {
        return this.$store.state.invoice.recipientDetails.zipcode;
      },
      set(value) {
        this.$store.commit("setRecipientZipcode", value);
      }
    },
    recipientCity: {
      get() {
        return this.$store.state.invoice.recipientDetails.city;
      },
      set(value) {
        this.$store.commit("setRecipientCity", value);
      }
    },
    recipientStateOrCountry: {
      get() {
        return this.$store.state.invoice.recipientDetails.stateOrCountry;
      },
      set(value) {
        this.$store.commit("setRecipientStateOrCountry", value);
      }
    },
    recipientEmail: {
      get() {
        return this.$store.state.invoice.recipientDetails.email;
      },
      set(value) {
        this.$store.commit("setRecipientEmail", value);
      }
    },
    recipientMobile: {
      get() {
        return this.$store.state.invoice.recipientDetails.mobile;
      },
      set(value) {
        this.$store.commit("setRecipientMobile", value);
      }
    },
    isValid: function () {
      return this.$vueValidator.valid
    }

  },
  methods: {
    acceptAlert(scope){
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if(scope === 'compDets') {
            this.companyDetsColor = 'success';
            this.$emit('validateCompany', true)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'success';
            this.$emit('validateRecipient', true)
          }
        } 
        else {
          // form has errors
          if(scope === 'compDets') {
            this.companyDetsColor = 'danger'; 
            this.$emit('validateCompany', false)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'danger';
            this.$emit('validateRecipient', false)
          }
          this.$vs.notify({
            color:'danger',
            title:'Error',
            text:'Error on the form!'
          });
        }
      })
    },
    close(scope){
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if(scope === 'compDets') {
            this.companyDetsColor = 'success';
            this.$emit('validateCompany', true)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'success';
            this.$emit('validateRecipient', true)
          }
          
        } else {
          // form has errors
          if(scope === 'compDets') {
            this.companyDetsColor = 'danger';
            this.$emit('validateCompany', false)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'danger';
            this.$emit('validateRecipient', false)
          }
          this.$vs.notify({
            color:'danger',
            title:'Error',
            text:'Error on the form!'
          });
        }
      })
    },
    clearValMultiple(scope) {
      this.$validator.validateAll(scope).then(result => {
        if (result) {
          if(scope === 'compDets') {
            this.companyDetsColor = 'success';
            this.$emit('validateCompany', true)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'success';
            this.$emit('validateRecipient', true)
          }
          
        } else {
          // form has errors
          if(scope === 'compDets') {
            this.companyDetsColor = 'danger';
            this.$emit('validateCompany', false)
          }
          if(scope === 'recpDets') {
            this.recipientDetsColor = 'danger';
            this.$emit('validateRecipient', false)
          }
          this.$vs.notify({
            color:'danger',
            title:'Error',
            text:'Error on the form!'
          });
        }
      })
    },
  },

  mounted() {

  },
  created(){
    bus.$on('validate-all', () => {
        this.$validator.validateAll('compDets').then(result => {
          //console.log('comp details errors', result);
          
        });
        this.$validator.validateAll('recpDets');
        bus.$emit('child-validated', this.$validator.errors)
        
        
    })
  },
  beforeDestroy() {

  }

};
</script>
<style lang="scss">

</style>

