<template>
    <div>
        <div class="vx-row mb-2 mt-4">
        <div class="vx-col w-full md:w-2/5 lg:w-2/5 sm:w-full">
            <vs-input class="w-full" placeholder="Description" v-model="itemDescription" v-validate="'required'" :name="'description' + index"/>
            <span class="text-danger text-sm" v-show="errors.has('description' + index)">{{ errors.first('description' + index) }}</span>
        </div>
        <div class="vx-col w-1/2 md:w-1/6 lg:w-1/6 sm:w-1/4 mt-4 md:mt-0">
            <vs-input class="w-full" type="number" placeholder="Qty" v-model="itemQuantity" v-validate="'required|numeric'" :name="'quantity' + index"/>
            <span class="text-danger text-sm" v-show="errors.has('quantity' + index)">{{ errors.first('quantity' + index) }}</span>
        </div>
        <div class="vx-col w-1/2 md:w-1/6 lg:w-1/6 sm:w-1/4 mt-4 md:mt-0">
            <vs-input class="w-full" type="number" placeholder="Price" v-model="itemPrice" v-validate="{required : true,decimal:[2, '.']}" :name="'price' + index"/>
            <span class="text-danger text-sm" v-show="errors.has('price' + index)">{{ errors.first('price' + index) }}</span>
        </div>
        <div class="vx-col w-1/2 md:w-1/6 lg:w-1/6 sm:w-1/4 mt-4 md:mt-0">
            <vs-input disabled class="w-full" placeholder="Amount" v-model="itemAmount" />
        </div>
        <div class="vx-col ml-auto flex mt-4 md:mt-0">
            <!-- <vs-button radius color="primary" type="border" icon-pack="feather" icon="icon-more-vertical"> -->
            <vs-dropdown vs-trigger-click class="">
                <vs-button radius class="btn-drop" type="filled" size="small" color="grey" icon-pack="feather" icon="icon-more-vertical"></vs-button>
                <vs-dropdown-menu>
                    <vs-dropdown-item > 
                        <vs-button class="w-full" size="small" @click="addItem"> Add Item</vs-button>
                    </vs-dropdown-item>

                    <vs-dropdown-item v-show="index > 0"> 
                        <vs-button class="w-full" size="small" @click="delItem()">Delete Item </vs-button>
                    </vs-dropdown-item>
                </vs-dropdown-menu>
            </vs-dropdown>
        </div>
        </div>
    </div>
</template>

<script>
import bus from '@/bus'
export default {
    name: "InvoiceItems",
    props: {
        itemData : Object, 
        indexValue : Number
    },
    data(){
        return {
            item: this.itemData,
            index: this.indexValue
        }
    },
    computed: {
        itemDescription: {
            get(){
                return this.item.description;
            },
            set(description){
                var field = 'description';
                var value = description;
                this.updateItem(field, value);
            }
        },
        itemQuantity: {
            get(){
                return this.item.quantity;
            },
            set(quantity){
                var field = 'quantity';
                var value = quantity;
                this.updateItem(field, value);
            }
        },
        itemPrice: {
            get(){
                return this.item.price;
            },
            set(price){
                var field = 'price';
                var value = price;
                this.updateItem(field, value);
            }
        },
        itemAmount: {
            get(){
                return this.item.amount;
            },
            set(amount){
                var field = 'amount';
                var value = amount;
                this.updateItem(field, value);
            }
        },
        isValid: function () {
            return this.$vueValidator.valid
        }
    },
    methods: {
        addItem(){
            var item = {
                description: '',
                price: '',
                quantity: '',
                amount: ''
            }
            this.$store.commit("addItem", item);
    
        },

        delItem(){
            this.$store.commit("delItem", this.index);
        },
        updateItem(field, value){
            var index = this.index;
            this.$store.commit('updateItems', {index, field, value})
        }
    },
    mounted(){
        
    },
    created(){
        bus.$on('validate-all', () => {
        this.$validator.validateAll()
        bus.$emit('child-validated', this.$validator.errors)
      })
    }
}
</script>