<template>
  <div class="">  
    <div class="vx-row mb-2">
      <div class="vx-col hidden md:block md:w-1/2 lg:w-1/2 mt-6">
      </div>
      <div class="vx-col w-full md:w-1/2 lg:w-1/2 mt-5 mb-8 md:mb-0 lg:mb-0">
        <h1 class="">Invoice</h1>
      </div>
    </div>     
    <div class="vx-row mb-2">
        <div class="vx-col w-full md:w-1/2 lg:w-1/2">
        <div v-if="logo" >
          <img :src="logo" class="image" height="150" width="150"/>
          <div v-if="!isLogoOk" class="mt-3">
            <span style="color:red">File too large (Max: 1.5MB)</span>
          </div>
          <div class="ml-16 mt-4" >
            <vs-button radius type="border" color="grey" icon-pack="feather" icon="icon-trash-2" @click="removeLogo"> </vs-button>
          </div>
        </div>
        <vue-dropzone v-else class="w-full sm:w-2/3" ref="myVueDropzone" id="dropzone" :options="dropzoneOptions" @vdropzone-file-added="fileAdded"></vue-dropzone>
        </div>

        <div class="vx-col w-full md:w-1/2 lg:w-1/2 mt-12 md:mt-3 lg:mt-3">
            <div class="vx-row mb-4">
                <div class="vx-col sm:w-1/3 w-full mt-3">
                    <span>Invoice No.</span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <vs-input class="w-full" v-validate="''" name="invoiceNo" placeholder="INV-0000" v-model="invoiceNo"/>
                    <span class="text-danger text-sm" v-show="errors.has('invoiceNo')">{{ errors.first('invoiceNo') }}</span>
                    <!-- <vs-input class="w-full" icon-pack="feather" icon="icon-user" icon-no-border v-validate="'numeric'" label-placeholder="Invoice No." v-model="invoice.invoiceDetails.invoiceNo" /> -->
                </div>
            </div>
            <div class="vx-row mb-4">
                <div class="vx-col sm:w-1/3 w-full mt-3">
                    <span>Invoice Date</span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <datepicker label="Invoice Date" :highlighted="invoiceDateHighlight" :disabled-dates="disabledDates" placeholder="Invoice Date" v-model="invoiceDate"></datepicker>       
                </div>
            </div>
            <div class="vx-row mb-2">
                <div class="vx-col sm:w-1/3 w-full mt-3">
                    <span>Due Date</span>
                </div>
                <div class="vx-col sm:w-2/3 w-full">
                    <datepicker label="Due Date" :highlighted="dueDateHighlight" :disabled-dates="disabledDates" placeholder="Due Date" v-model="dueDate"></datepicker> 
                </div>
            </div>
        </div>
    </div>         
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import bus from '@/bus'

export default {
  name: "InvoiceDetails",
  components: {
    Datepicker,
    vueDropzone: vue2Dropzone
  },
  data(){
    return {
      isLogoOk: true,
      disabledDates: {
        to: new Date()
      },
      dropzoneOptions: {
        url: 'https://httpbin.org/post',
        maxFilesize: 2, // MB
        thumbnailWidth: 200,
        addRemoveLinks: true,
        autoProcessQueue: false,
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i> Upload Logo"
      },

    }
  },
  computed: {
    invoiceDateHighlight() {
      var highlightedFn = {
        dates: [this.invoiceDate]
      };
      return highlightedFn;
    },
    dueDateHighlight() {
      var highlightedFn = {
        dates: [this.dueDate]
      };
      return highlightedFn;
    },
    logo(){
      return this.$store.state.invoice.invoiceDetails.logo;
    },
    invoiceNo: {
      get() {
        return this.$store.state.invoice.invoiceDetails.invoiceNo;
      },
      set(value) {
        this.$store.commit("setInvoiceNo", value);
      }
    },
    invoiceDate: {
      get() {
        return this.$store.state.invoice.invoiceDetails.invoiceDate;
      },
      set(value) {
        this.$store.commit("setInvoiceDate", value);
      }
    },
    dueDate: {
      get() {
        return this.$store.state.invoice.invoiceDetails.dueDate;
      },
      set(value) {
        this.$store.commit("setDueDate", value);
      }
    },
    isValid: function () {
      return this.$vueValidator.valid
    }
    
  },
  methods: {
    fileAdded(file){
      //console.log('file size', file.size);
      if(file.size > 1572864){
        this.isLogoOk = false;
        localStorage.setItem('isLogoOk', false);
      }
      else {
        this.isLogoOk = true;
        localStorage.setItem('isLogoOk', true);
      }
      
      var reader = new FileReader();
      reader.onload = (e) => {
        var fileUrl = e.target.result;
        this.$store.commit('setLogo', fileUrl);
      };
      reader.readAsDataURL(file);
    },
    removeLogo(){
      this.$store.commit('setLogo', '')
    }
  },

  mounted() {
    
  },
  created(){
    bus.$on('validate-all', () => {
        this.$validator.validateAll()
        bus.$emit('child-validated', this.$validator.errors)
      })
  },
  beforeDestroy() {
  }

};
</script>
<style>

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

</style>

