<template>
    <div>
         <!-- Items Titles -->
        <div class="vx-row mb-2 mt-12">
            <div class="vx-col hidden md:block md:w-2/5 lg:w-2/5">
                <h3>Description</h3>
            </div>
            <div class="vx-col hidden md:block md:w-1/6 lg:w-1/6">
                <h3 class="hidden lg:block">Quantity</h3>
                <h3 class="md:block lg:hidden">Qty</h3>
            </div>
            <div class="vx-col hidden md:block md:w-1/6 lg:w-1/6">
                <h3>Price</h3>
            </div>
            <div class="vx-col hidden md:block md:w-1/6 lg:w-1/6">
                <h3>Amount</h3>
            </div>
            <div class="vx-col hidden md:block md:w-1/10 lg:w-1/10">
            </div>
        </div>

    </div>
</template>

<script>
export default {
    
}
</script>