<template>
  <div>

      <custom-h-navbar :navbarType= "navbarType"
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]" ></custom-h-navbar>

    <!-- <h-nav-menu
      :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]"
      :navMenuItems="navMenuItems"
    /> -->
  </div>
</template>

<script>
import HNavMenu from "../horizontal-nav-menu/HorizontalNavMenu";
import navMenuItems from "../vertical-nav-menu/navMenuItems";
import themeConfig from "../../../../themeConfig";
import customHNavbar from "./customHorizontalNavbar";
import customHNavMenu from "./customHorizontalNavMenu";

export default {
  components: {
    HNavMenu,
    customHNavbar,
    customHNavMenu
  },
  data() {
    return {
      navMenuItems      : navMenuItems,
      isNavbarDark      : false,
      navbarColor       : themeConfig.navbarColor || "#fff",
      navbarType        : themeConfig.navbarType  || 'floating',
    };
  },

  computed: {
    isThemeDark() {
      return this.$store.state.theme == "dark";
    }
  }
};
</script>