<template>
  <div class="relative">
    <div class="vx-navbar-wrapper navbar-full p-0">
      <vs-navbar
        class="navbar-custom navbar-skelton"
        :class="navbarClasses"
        :style="navbarStyle"
        :color="navbarColor"
      >

      <router-link tag="div" to="/" class="vx-logo cursor-pointer flex items-center">
        <img class="mr-4" src="@/assets/images/logo/hornbill_favicon_3.png" alt="logo" />
        <img class="mb-2" src="@/assets/images/logo/text_logo.png" alt="favicon" />
        <!-- <logo class="w-10 mr-4 fill-current text-primary" />
        <span class="vx-logo-text text-primary" v-show="isMouseEnter || !reduce"> Hornbill</span> -->
      </router-link>

      <vs-spacer></vs-spacer>

      <custom-h-nav-menu
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]"
        :navMenuItems="navMenuItems"
      />


        <!-- <div v-if="windowWidth >= 1350" class="vx-row w-full">
          <div class="vx-col w-1/3" style="float:left;">
            <custom-h-nav-menu
              :class="[
                    {'text-white' : isNavbarDark  && !isThemeDark},
                    {'text-base'  : !isNavbarDark && isThemeDark}
                    ]"
              :navMenuItems="navMenuItems"
            />
          </div>

          <div  class="vx-col w-1/3" style="">
            <router-link tag="div" to="/" class="vx-logo cursor-pointer flex items-center justify-center">
              <img class="mr-4" src="@/assets/images/logo/hornbill_favicon_3.png" alt="logo" />
              <img class="mb-2" src="@/assets/images/logo/text_logo.png" alt="favicon" />
            </router-link>
          </div>

          <div class="vx-col w-1/3">

          </div>
        </div>

        <div v-if="windowWidth < 1350" class="vx-row w-full">
          <div class="vx-col w-1/2" style="float:left;">
            <custom-h-nav-menu
              :class="[
                    {'text-white' : isNavbarDark  && !isThemeDark},
                    {'text-base'  : !isNavbarDark && isThemeDark}
                    ]"
              :navMenuItems="navMenuItems"
            />
          </div>

          <div class="vx-col w-1/2" style="">
            <router-link tag="div" to="/" class="vx-logo cursor-pointer flex items-center">
              <img class="mr-4" src="@/assets/images/logo/hornbill_favicon_3.png" alt="logo" />
              <img class="mb-2" src="@/assets/images/logo/text_logo.png" alt="favicon" />
            </router-link>
          </div>
        </div> -->
        
        

        <!-- <search-bar />
      <notification-drop-down />
        <profile-drop-down />-->
      </vs-navbar>
    </div>
  </div>
</template>

<script>
import Bookmarks from "../navbar/components/Bookmarks";
import SearchBar from "../navbar/components/SearchBar.vue";
import NotificationDropDown from "../navbar/components/NotificationDropDown.vue";
import ProfileDropDown from "../navbar/components/ProfileDropDown.vue";
import customHNavMenu from "./customHorizontalNavMenu";
import navMenuItems from "../vertical-nav-menu/navMenuItems";
import themeConfig from "../../../../themeConfig";
import Logo from "../Logo.vue";

export default {
  name: "custom-navbar-horizontal",
  props: {
    logo: { type: String },
    navbarType: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      navMenuItems: navMenuItems,
      isNavbarDark: false
    };
  },
  components: {
    Logo,
    Bookmarks,
    SearchBar,
    NotificationDropDown,
    ProfileDropDown,
    customHNavMenu
  },
  computed: {
    isThemeDark() {
      return this.$store.state.theme == "dark";
    },
    navbarColor() {
      let color = "#fff";
      if (this.navbarType === "sticky") color = "#f7f7f7";
      else if (this.navbarType === "static") {
        if (this.scrollY < 50) {
          color = "#f7f7f7";
        }
      }

      this.isThemedark === "dark"
        ? color === "#fff"
          ? (color = "#10163a")
          : (color = "#262c49")
        : null;

      return color;
    },
    isThemedark() {
      return this.$store.state.theme;
    },
    navbarStyle() {
      return this.navbarType === "static"
        ? { transition: "all .25s ease-in-out" }
        : {};
    },
    navbarClasses() {
      return this.scrollY > 5 && this.navbarType === "static"
        ? null
        : "d-theme-dark-light-bg shadow-none";
    },
    scrollY() {
      return this.$store.state.scrollY;
    },
    verticalNavMenuWidth() {
      return this.$store.state.verticalNavMenuWidth;
    },
    windowWidth() {
      return this.$store.state.windowWidth;
    }
  }
};
</script>

