<!-- =========================================================================================
    File Name: Invoice.vue
    Description: Invoice Page
    ----------------------------------------------------------------------------------------

========================================================================================== -->


<template>
    <div class="invoice" id="invoice-page">

        <div class="flex flex-wrap items-center justify-between">
            <vs-button class="mb-base mr-3" type="border" icon-pack="feather" icon="icon icon-corner-up-left" @click="$router.go(-1)">Back</vs-button>
          <!-- <vx-input-group class="mb-base mr-3">
            <vs-input v-model="mailTo" placeholder="Email" />

            <template slot="append">
              <div class="append-text btn-addon">
                <vs-button type="border" @click="mailTo = ''" class="whitespace-no-wrap">Send Invoice</vs-button>
              </div>
            </template>
          </vx-input-group> -->
          <div class="flex items-center ml-auto">
            <!-- <vs-button class="mb-base mr-3" type="border" icon-pack="feather" icon="icon icon-download">Download</vs-button> -->
            <vs-button class="mb-base mr-3" icon-pack="feather" icon="icon icon-file" @click="printInvoice">Print</vs-button>
          </div>
        </div>

        <div ref="content">
        <vx-card id="invoice-container">

            <!-- INVOICE METADATA -->
            <div class="vx-row p-base" style="">
                <div class="vx-col w-1/2 md:w-1/2 mt-base">
                    <img :src="logo" alt=" " width="150" height="150">
                </div>
                <div class="vx-col w-1/2 md:w-1/2 text-right">
                    <h1>Invoice</h1>
                    <div class="invoice__invoice-detail mt-4">
                        <h6>INVOICE NO.</h6>
                        <p>{{ $store.state.invoice.invoiceDetails.invoiceNo }}</p>

                        <h6 class="mt-4">INVOICE DATE</h6>
                        <p>{{ invoiceDate }}</p>

                        <h6 class="mt-4">DUE DATE</h6>
                        <p>{{ dueDate }}</p>
                    </div>
                </div>
            </div>
            <div class="vx-row p-base" style="">
                <div class="vx-col w-1/2 md:w-1/2">
                    <h5>Recipient</h5>
                    <div class="invoice__recipient-info my-4">
                        <p>{{ $store.state.invoice.recipientDetails.fullName }}</p>
                        <p>{{ $store.state.invoice.recipientDetails.addressLine1 }}</p>
                        <p>{{ $store.state.invoice.recipientDetails.addressLine2 }}</p>
                        <p>{{ $store.state.invoice.recipientDetails.zipcode }}</p>
                        <p>{{ $store.state.invoice.recipientDetails.city }}</p>
                    </div>
                    <div class="invoice__recipient-contact ">
                        <p class="flex items-center">
                            <feather-icon icon="MailIcon" svgClasses="h-4 w-4"></feather-icon>
                            <span class="ml-2">{{ $store.state.invoice.recipientDetails.email }}</span>
                        </p>
                        <p class="flex items-center">
                            <feather-icon icon="PhoneIcon" svgClasses="h-4 w-4"></feather-icon>
                            <span class="ml-2">{{ $store.state.invoice.recipientDetails.mobile }}</span>
                        </p>
                    </div>
                </div>
                <div class="vx-col w-1/2 md:w-1/2 text-right">
                    <h5>{{ $store.state.invoice.companyDetails.name }}</h5>
                    <div class="invoice__company-info my-4">
                        <p>{{ $store.state.invoice.companyDetails.addressLine1 }}</p>
                        <p>{{ $store.state.invoice.companyDetails.addressLine2 }}</p>
                        <p>{{ $store.state.invoice.companyDetails.zipcode }}</p>
                        <p>{{ $store.state.invoice.companyDetails.city }}</p>
                    </div>
                    <div class="invoice__company-contact">
                        <p class="flex items-center justify-end">
                            <feather-icon icon="MailIcon" svgClasses="h-4 w-4"></feather-icon>
                            <span class="ml-2">{{ $store.state.invoice.companyDetails.email }}</span>
                        </p>
                        <p class="flex items-center justify-end">
                            <feather-icon icon="PhoneIcon" svgClasses="h-4 w-4"></feather-icon>
                            <span class="ml-2">{{ $store.state.invoice.companyDetails.mobile }}</span>
                        </p>
                    </div>

                </div>
            </div>

            <!-- INVOICE CONTENT -->
            <div class="p-base">
                <!-- INVOICE TASKS TABLE -->
                <vs-table hoverFlat :data="$store.state.invoice.invoiceData.items">
                    <!-- HEADER -->
                    <template slot="thead">
                        <vs-th>DESCRIPTION</vs-th>
                        <vs-th>QUANTITY</vs-th>
                        <vs-th>PRICE</vs-th>
                        <vs-th>AMOUNT</vs-th>
                    </template>

                    <!-- DATA -->
                    <template slot-scope="{data}">
                        <vs-tr v-for="(tr, index) in data" :key="index">
                            <vs-td :data="data[index].task">{{ data[index].description }}</vs-td>
                            <vs-td :data="data[index].hours">{{ data[index].quantity }}</vs-td>
                            <vs-td :data="data[index].rate">{{ $store.state.invoice.invoiceData.currency }} {{ data[index].price }}</vs-td>
                            <vs-td :data="data[index].amount">{{ $store.state.invoice.invoiceData.currency }} {{ data[index].amount }}</vs-td>
                        </vs-tr>
                    </template>
                </vs-table>

                
            </div>
            <div>
                <!-- INVOICE SUMMARY TABLE -->
                <vs-table hoverFlat class="w-1/2 ml-auto mr-8" :data="$store.state.invoice.invoiceData">
                    <vs-tr>
                        <vs-th>SUBTOTAL</vs-th>
                        <vs-td>{{ $store.state.invoice.invoiceData.currency }} {{ $store.state.invoice.invoiceData.subTotal }}</vs-td>
                    </vs-tr>
                    <vs-tr>
                        <vs-th>DISCOUNT ({{ $store.state.invoice.invoiceData.discountPercentage }}%)</vs-th>
                        <vs-td>{{ $store.state.invoice.invoiceData.currency }} {{ $store.state.invoice.invoiceData.discountedAmount }}</vs-td>
                    </vs-tr>
                    <vs-tr>
                        <th>TOTAL</th>
                        <td>{{ $store.state.invoice.invoiceData.currency }} {{ $store.state.invoice.invoiceData.total }}</td>
                    </vs-tr>
                </vs-table>
            </div>

            <!-- INVOICE FOOTER -->
            <div class="invoice__footer text-right p-base">
                <p class="mb-4"></p>
                <p>
                    <span class="mr-8"> <span class="font-semibold"></span></span>
                    <span> <span class="font-semibold"> </span></span>
                </p>
            </div>
            <!-- <div class="invoice__footer text-right p-base">
                <p class="mb-4">Transfer the amounts to the business amount below. Please include invoice number on your check.</p>
                <p>
                    <span class="mr-8">BANK: <span class="font-semibold">FTSBUS33</span></span>
                    <span>IBAN: <span class="font-semibold"> G882-1111-2222-3333 </span></span>
                </p>
            </div> -->
        </vx-card>
        </div>
    </div>
</template>

<script>
var moment = require('moment')

export default{
    data() {
        return {
            mailTo: "",
        }
    },
    computed: {
        logo(){
            return this.$store.state.invoice.invoiceDetails.logo;
        },
        invoiceDate(){
            return moment(this.$store.state.invoice.invoiceDetails.invoiceDate).format('ddd Do MMM YYYY');
        },
        dueDate(){
            return moment(this.$store.state.invoice.invoiceDetails.dueDate).format('ddd Do MMM YYYY');
        },   

    },
    methods: {
      printInvoice() {
        window.print()
      },
    },
    components: {},
    mounted() {
      this.$emit("setAppClasses", "invoice-page")
      console.log('logo: ', this.$store.state.invoice.invoiceDetails.logo,);
      
    },

}
</script>

<style lang="scss">
.invoice {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media print {
  .invoice-page {
    * {
      visibility: hidden;
    }

    #content-area {
      margin: 0 !important;
    }

    #invoice-container,
    #invoice-container * {
      visibility: visible;
    }
    #invoice-container {
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: none;
      size: A4 landscape; 
      margin:0mm;
      height: 100%;

    }
    
  }
}
</style>
