<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>hornbill_favicon_sm.png">
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css">
    <title>Free Invoice Generator | Hornbill Invoicing </title>
    <meta name="description" content="Free and simple way to create professional invoices and send them to your customers.">
    
    <meta property="og:title" content="Hornbill Invoicing - Free invoice generator" />
    <meta property="og:description" content="Hornbill is a free invoice generator for entrepreneurs, startups and freelancers. It provides 
    an easy way to create professional invoices from any device." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hornbill.io/" />
    <meta property="og:image" content="https://hornbill.io/img/garrhet-sampson-comp.225b1acd.jpg" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Hornbill doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="loading-bg">
      <div class="loading-logo">
        <img src="<%= BASE_URL %>hornbill_favicon_md.png" alt="Logo">
      </div>
      <!-- <div class="loading">
        <div class="effect-1 effects"></div>
        <div class="effect-2 effects"></div>
        <div class="effect-3 effects"></div>
      </div> -->

      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>


    </div>
    <div id="app">

    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
