<template>
  <div class>
    <!-- <the-navbar-vertical
        :navbarColor="navbarColor"
        :class="[
          {'text-white' : isNavbarDark  && !isThemeDark},
          {'text-base'  : !isNavbarDark && isThemeDark}
        ]" /> -->

    <!-- PROFILE HEADER -->
    <div class="profile-header">
      <div class="relative" style="position:relative">
        <div class="cover-container rounded-t-lg">
          <img
            :src="windowSize === 'lg' ?  user_info.cover_img : user_info.cover_img_sm"
            alt="cover_image"
            class="responsive tinted block"
          />
        </div>
        <div class="title">
          <h1 class="text-white title-text">Hornbill</h1>
          <h4 class="text-white sub-title-text mt-3">Create Invoices faster, Get paid faster</h4>
        </div>
      </div>
      <div class="flex items-center justify-end flex-wrap profile-header-nav p-6">
        <div class="block sm:hidden">
          <!-- <feather-icon @click="isNavOpen = !isNavOpen" icon="AlignJustifyIcon" v-show="!isNavOpen" class="vx-navbar-toggler cursor-pointer" />
          <feather-icon icon="XIcon" v-show="isNavOpen" @click="isNavOpen = !isNavOpen" class="vx-navbar-toggler cursor-pointer" />-->

          <!-- <feather-icon @click="isNavOpen = !isNavOpen" icon="AlignJustifyIcon" v-show="!isNavOpen" class="" />
          <feather-icon icon="XIcon" v-show="isNavOpen" @click="isNavOpen = !isNavOpen" class="" />-->
        </div>
      </div>
    </div>

    <div :class="[windowSize === 'lg' ? bodyMarginClassLg : bodyMarginClassSm , vxRowClass]">
      <!-- MAIN COL -->
      <div class="vx-col w-full lg:w-3/4">
        <vx-card>
          <invoice-details></invoice-details>
          <invoice-contacts
            @validateCompany="validateCompany"
            @validateRecipient="validateRecipient"
          ></invoice-contacts>
          <invoice-items-titles></invoice-items-titles>
          <div v-for="(item, index) in invoice.invoiceData.items" :key="index">
            <invoice-items :itemData="item" :indexValue="index"></invoice-items>
          </div>
          <invoice-totals></invoice-totals>

          <div class="vx-row mt-24">
            <vs-button
              class="bg-primary-gradient w-full md:w-1/2 md:ml-auto md:mr-2 lg:hidden"
              type="filled"
              color
              icon-pack="feather"
              icon="icon"
              @click="validateInvoiceData"
            >Preview</vs-button>
            <!-- <div class="vx-col ml-auto">
                      <vs-button class="" type="filled" color="grey" icon-pack="feather" icon="icon-edit" @click="validateInvoiceData">Preview</vs-button>
                    </div>
                    <div class="vx-col mr-auto">
                      <vs-button class="" type="filled" color="grey" icon-pack="feather" icon="icon-edit" @click="validateInvoiceData">Download</vs-button>
            </div>-->
          </div>
        </vx-card>
      </div>

      <div class="vx-col w-full lg:w-1/4 rounded-lg mt-12 lg:mt-0">
        <!-- md:mt-0 -->
        <vx-card>
          <h4>Settings</h4>
          <invoice-settings></invoice-settings>
          <div class="vx-row mb-4 mt-8">
            <div class="vx-col w-1/3 sm:w-1/3 md:w-1/3 lg:w-1/3">
              <!-- <vs-checkbox v-model="consent"> * </vs-checkbox>  -->
              <span>* Privacy Note:</span>
            </div>
            <div class="vx-col w-2/3 sm:w-2/3 md:w-1/3 lg:w-2/3">
              <span>We DO NOT keep a record of any data. All data will be deleted immediately after use.</span>
            </div>
          </div>
          <vs-button
            class="bg-primary-gradient hidden lg:block w-full mt-20"
            icon-pack="feather"
            icon="icon"
            @click="validateInvoiceData"
          >Preview</vs-button>
        </vx-card>
      </div>
    </div>

    <cookie-law
      theme="dark-lime"
      buttonText="Yes, I accept!"
      storageName="cookie_accepted"
      v-on:accept="cookieAccepted()"
    >
      <div slot="message">
        {{message2}}
        <vs-button @click="viewPrivacyPolicy" color="primary" type="line">More Info</vs-button>
      </div>
    </cookie-law>
  </div>
</template>

<script>
import api from "../api";
import Datepicker from "vuejs-datepicker";
import currencies from "../currencies";
import bus from "../bus";
import InvoiceDetails from "../components/Invoice/InvoiceDetails";
import InvoiceContacts from "../components/Invoice/InvoiceContacts";
import InvoiceItems from "../components/Invoice/InvoiceItems";
import InvoiceItemsTitles from "../components/Invoice/InvoiceItemsTitles";
import InvoiceTotals from "../components/Invoice/InvoiceTotals";
import InvoiceSettings from "../components/Invoice/InvoiceSettings";
import CookieConsent from "../components/CookieConsent/cookieConsent";
import TheNavbarVertical   from '@/layouts/components/navbar/TheNavbarVertical.vue'
import themeConfig from '../../themeConfig'
import CookieLaw from "vue-cookie-law";

export default {
  components: {
    TheNavbarVertical,
    Datepicker,
    InvoiceDetails,
    InvoiceContacts,
    InvoiceItems,
    InvoiceItemsTitles,
    InvoiceTotals,
    InvoiceSettings,
    CookieConsent,
    CookieLaw
  },
  data() {
    return {
      isNavOpen: false,
      wasSidebarOpen: null,
      currencies: currencies.currencies,
      discount: null,
      discountOptions: [
        { text: "None", value: null },
        { text: "Percent", value: "percent" },
        { text: "Amount", value: "amount" }
      ],
      user_info: {
        cover_img: require("@/assets/images/pages/home/garrhet-sampson-comp.jpg"),
        cover_img_sm: require("@/assets/images/pages/home/garrhet-sampson-comp-sm.jpg")
      },
      invoice: {},
      consent: false,
      validCompany: undefined,
      validRecipient: undefined,
      vxRowClass: "vx-row",
      bodyMarginClassLg: "main-border-lg",
      bodyMarginClassSm: "main-border-sm",
      privacyPolicyActive: false,
      isNavbarDark      : false,
      navbarColor       : themeConfig.navbarColor || '#fff',
      popupActivo3: false,
      buttonLinkText: "More Info",
      message:
        "This site uses cookies to ensure you get the best experience. Please accept cookies for optimal performance.",
      message2:
        "This site uses cookies to ensure you get the best experience. If you continue on this website, you will be providing your consent to our use of cookies.",
    };
  },
  computed: {
    isThemeDark()     { return this.$store.state.theme == 'dark' },
    items() {
      return this.$store.state.invoice.invoiceData.items;
    },
    logo() {
      return this.$store.state.invoice.invoiceDetails.logo;
    },
    subTotal() {
      var subTotal = 0;
      this.invoice.invoiceData.items.forEach(item => {
        subTotal += item.amount;
      });
      subTotal = Math.round(subTotal * 100) / 100;
      return subTotal.toFixed(2);
    },

    tax() {
      var tax = 0.0;
      tax =
        Math.round(
          (this.invoice.invoiceData.taxPercent / 100) * this.subTotal * 100
        ) / 100;
      return tax.toFixed(2);
    },

    grandTotal() {
      var total;
      if (this.invoice.invoiceData.taxIncl == true) {
        total = Math.round(this.subTotal * 100) / 100;
      } else {
        total =
          Math.round((Number(this.tax) + Number(this.subTotal)) * 100) / 100;
      }

      if (this.discount !== null) {
        total = Math.round((total - Number(this.discountAmount)) * 100) / 100;
      }

      return total.toFixed(2);
    },
    discountAmount() {
      var amount = 0.0;
      if (
        this.discount === "percent" &&
        this.invoice.invoiceData.discountPercentage > 0
      ) {
        amount =
          Math.round(
            (this.invoice.invoiceData.discountPercentage / 100) *
              this.subTotal *
              100
          ) / 100;
      } else if (
        this.discount === "amount" &&
        this.invoice.invoiceData.discountedAmount > 0
      ) {
        amount = Number(this.invoice.invoiceData.discountedAmount);
      }

      return amount.toFixed(2);
    },
    validateErrors() {
      return this.$validator.errors.items;
    },
    windowSize() {
      if (this.$store.state.windowWidth <= 768) return "sm";
      else return "lg";
    }
  },
  methods: {
    viewPrivacyPolicy() {
      this.$router.push("/privacyPolicy").catch(() => {});
    },
    cookieAccepted() {
      this.$ga.enable();
    },
    addItem() {
      var item = {
        description: "",
        price: "",
        quantity: "",
        amount: ""
      };
      this.$store.commit("addItem", item);
    },

    delItem(index) {
      if (this.invoice.invoiceData.items.length !== 1) {
        this.invoice.invoiceData.items.splice(index, 1);
      }
    },
    update(item, index) {
      var amount = Math.round(item.quantity * item.price * 100) / 100;
      this.invoice.invoiceData.items[index].amount = amount;
    },
    myErrors() {
      return this.$validator.errors;
    },
    validateCompany(result) {
      this.validCompany = result;
    },
    validateRecipient(result) {
      this.validRecipient = result;
    },
    validate() {
      this.$validator.validateAll();
      bus.$emit("validate-all");
    },
    validateInvoiceData() {
      this.validate();
      this.$vs.loading({ type: "sound" });

      this.$ga.event({
        eventCategory: "ButtonPreview",
        eventAction: "preview",
        eventLabel: "prevEvt",
        eventValue: 1
      });

      setTimeout(() => {
        // if(this.$validator.errors.items.length > 0 || this.validCompany === false || this.validRecipient === false){
        //   this.$vs.notify({
        //     color:'danger',
        //     title:'Error',
        //     text:'Errors: Enter the missing fields!'
        //   });
        //   this.$vs.loading.close();
        // }
        // else if(this.validCompany === undefined ){
        //   this.$vs.notify({
        //     color:'danger',
        //     title:'Error',
        //     text:'Error: Missing fields in COMPANY DETAILS!'
        //   });
        //   this.$vs.loading.close();
        // }
        // else if(this.validRecipient === undefined ){
        //   this.$vs.notify({
        //     color:'danger',
        //     title:'Error',
        //     text:'Error: Missing fields in RECIPIENT DETAILS!'
        //   });
        //   this.$vs.loading.close();
        // }
        // else if(!this.consent){
        //   this.$vs.notify({
        //     color:'danger',
        //     title:'Error',
        //     text:'Error: Please read our PRIVACY POLICY AND TERMS and give your consent'
        //   });
        // }
        if (this.$validator.errors.items.length > 0) {
          this.$vs.notify({
            color: "danger",
            title: "Error",
            text: "Errors: Enter the missing fields!"
          });
          this.$vs.loading.close();
        } else if (localStorage.getItem("isLogoOk") === "false") {
          this.$vs.notify({
            color: "danger",
            title: "Error",
            text: "Error: Logo too large. Upload a NEW LOGO!"
          });
          this.$vs.loading.close();
        } else if (this.logo === "") {
          this.$vs.notify({
            color: "danger",
            title: "Error",
            text: "Error: Upload a LOGO!"
          });
          this.$vs.loading.close();
        } else {
          this.$store.commit("setInvoiceData", this.invoice);
          this.previewPdf();
          //this.$router.push('/invoiceView').catch(() => {});
        }
      }, 1000);
    },

    previewPdf() {
      api.createPdfRequest(this.$store.state.invoice).then(resp => {
        //console.log('pdf: ', resp.data);
        var binaryString = window.atob(resp.data);
        var binaryLen = binaryString.length;
        var pdfBytes = new Uint8Array(binaryLen);
        for (var i = 0; i < binaryLen; i++) {
          var ascii = binaryString.charCodeAt(i);
          pdfBytes[i] = ascii;
        }
        var pdfBlob = new Blob([pdfBytes], { type: "application/pdf" });
        var pdfUrl = window.URL.createObjectURL(pdfBlob);
        this.$store.commit("setPdfUrl", pdfUrl);
        this.$vs.loading.close();

        this.$router.push("/invoiceView").catch(() => {});

        api.deletePdfRequest(this.$store.state.invoice).then(delResp => {
          //console.log('delete', delResp);
        });
      });
    }
  },

  mounted() {
    this.wasSidebarOpen = this.$store.state.reduceButton;
    this.$store.commit("TOGGLE_REDUCE_BUTTON", true);
    if (this.invoice.invoiceData.items.length === 0) {
      this.addItem();
    }
  },
  created() {
    const invoice = this.$store.getters.getInvoiceData;
    this.invoice = {
      invoiceDetails: invoice.invoiceDetails,
      companyDetails: invoice.companyDetails,
      recipientDetails: invoice.recipientDetails,
      invoiceData: invoice.invoiceData
    };

    bus.$on("child-validated", () => {});
  },
  beforeDestroy() {
    if (!this.wasSidebarOpen) this.$store.commit("TOGGLE_REDUCE_BUTTON", false);
  }
};
</script>
<style lang="scss">
@import "@/assets/scss/vuexy/pages/profile.scss";
</style>

