<template>
  <div>
    <vue-cookie-accept-decline
      :ref="'myPanel1'"
      :elementId="'myPanel1'"
      :debug="false"
      :position="'bottom-left'"
      :type="'floating'"
      :disableDecline="false"
      :transitionName="'slideFromBottom'"
      :showPostponeButton="false"
      @status="cookieStatus"
      @clicked-accept="cookieClickedAccept"
      @clicked-decline="cookieClickedDecline"
    >
      <!-- Optional -->
      <div slot="postponeContent">&times;</div>

      <!-- Optional -->
      <div slot="message">
        We use cookies to ensure you get the best experience on our website.
        <a
          href="https://cookiesandyou.com/"
          target="_blank"
        >Learn More...</a>
      </div>

      <!-- Optional -->
      <div slot="declineContent">OPT OUT</div>

      <!-- Optional -->
      <div slot="acceptContent">GOT IT!</div>
    </vue-cookie-accept-decline>
  </div>
</template>

<script>
import "vue-cookie-accept-decline/dist/vue-cookie-accept-decline.css";

export default {
  data() {
    return {
      status: null
    };
  },

  computed: {
    statusText() {
      return this.status || "No cookie set";
    }
  },

  methods: {
    cookieStatus(status) {
      console.log("status: " + status);
      this.status = status;
    },
    cookieClickedAccept() {
      console.log("here in accept");
      this.status = "accept";
    },
    cookieClickedDecline() {
      console.log("here in decline");
      this.status = "decline";
    },
    cookieClickedPostpone() {
      console.log("here in postpone");
      this.status = "postpone";
    },
    cookieRemovedCookie() {
      console.log("here in cookieRemoved");
      this.status = null;
      this.$refs.myPanel1.init();
    },
    removeCookie() {
      console.log("Cookie removed");
      this.$refs.myPanel1.removeCookie();
      this.status.null;
    }
  },

  created() {
    console.log("Vue destroyed");
    window.addEventListener("beforeunload", () => {
      localStorage.removeItem("vue-cookie-accept-decline-myPanel1");
    });
  }
};
</script>